main img {
    width: 30px;
    height: 30px;
}

#yourReviews {
    margin-top: 80px;
    text-align: center;
}

#review {
    margin-bottom: 80px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    width: 100%;
}

.card {
    background-color: rgb(238, 241, 243);
    margin: 30px 10%;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 8px;
}

@media only screen and (max-width: 375px) {
    textarea {
        width: 80%;
    }
}