* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #212121;
}

.main, .footer {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #f2f2f2d0;
    box-shadow: 0 1px 15px #212121;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-image {
    margin-top: 5px;
    width: 70px;
    height: 70px;
}

.logo-title {
    font-size: 24px;
    font-weight: bolder;
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.nav-link{
    font-size: 20px;
    transition: .5s ease;
}

.nav-link:hover {
    text-shadow: 1px 1px 3px #212121;
}

.main {
    overflow: hidden;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #f2f2f2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.main-heading {
    margin: 40px 0;
    font-size: 48px;
}

.main-text {
    margin: 60px 0;
    font-size: 22px;
}

.second-heading {
    margin: 40px 0;
    font-size: 30px;
}

.content {
    width: 100%;
    flex-grow: 1;
    min-height: 500px;
    padding: 0 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    overflow: hidden;
}

.content img {
    width: 50%;
    height: 50%;
    box-shadow: 1px 1px 15px #212121;
}

.content1 {
    background-color: #f2f2f2;
    color: #212121;
}

.content2 {
    background-color: #fdd8d8;
}

.form {
    background-color: #f2f2f2;
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}

input[type="email"] {
    width: 350px;
}

.footer {
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    background-color: #ea8a8a;
    color: #f2f2f2;
    height: 50px;
}

.rights {
    text-align: center;
    margin-top: 12px;
}

.formBtn {
    width: 70px;
    height: 30px;
    background-color: #ea8a8a;
    border: none;
    border-radius: 8px;
    color: #f2f2f2;
}

.formBtn:hover {
    background-color: #af6868;
    cursor: pointer;
}

.formBtn:active {
    background-color: #634242;
}

@media only screen and (max-width: 750px) {
    .logo-title {
        font-size: 18px;
    }
    .logo-image {
        width: 50px;
        height: 50px;
    }
    .nav-link{
        font-size: 16px;
    }
    .main-heading {
        margin: 20px 0;
        font-size: 30px;
    }
    .main-text {
        margin: 40px 0;
        font-size: 16px;
    }
    .content {
        flex-direction: column;
    }
    .content img {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 680px) {
    .logo-title {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .header-content {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .main {
        padding-top: 90px;
    }
}

@media only screen and (max-width: 400px) {
    .main-heading {
        margin: 20px 0;
        font-size: 22px;
    }
    .second-heading {
        font-size: 18px;
    }
    .main-text {
        margin: 40px 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .nav-list {
        column-gap: 15px;
    }
    .nav-link{
        font-size: 14px;
    }
    .footer {
        font-size: 14px;
    }
    .rights {
        margin-top: 15px;
    }
}